body {
  font-family: "Gothic A1", sans-serif;
}
.h-angle-top {
  background-image:-o-linear-gradient(88deg, transparent 49%, #82db78 50%);
  background-image:linear-gradient(178deg, transparent 49%, #82db78 50%);
  height:55px;
}
.btn-cta {
  color: #fff;
  background: #7f4949;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta:active:focus,
.btn-cta.btn:not(:disabled):not(.disabled):active,
.btn-cta.btn:not(:disabled):not(.disabled):active:focus {
  background: #573232;
  outline: 0;
  color: #e2e2e2;
  box-shadow: none;
}
.hero-section {
  background-image: url(../img/bg-main.png);
  background-size: cover;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
}
.hero-section .cta {
  margin: 6rem 0rem 1rem 0rem;
}
.txt-underline {
  padding: .45rem .25rem;
  border-radius: 2px;
  background-color: #fcfcfc;
  box-shadow: 5px 8px #d2d2d2;
}
.hero-section h1 {
  color: #333;
  font-weight: 800;
}
.hero-section h2 {
  margin-top: 1.2rem;
  color: rgba(51, 51, 51, 0.835);
}
#features p {
  color: rgba(51, 51, 51, 0.835);
}
#features h3 {
  color: #333333;
  font-weight: 800;
}
#features .feature {
  color: rgba(51, 51, 51, 0.835);
}
#features .feature h5 {
  font-weight: bold;
}
.bottom-cta {
  background-color: #82db78;
}
.bottom-cta h5 {
  color: #fff;
  font-weight: 800;
  margin-top: 3rem;
}
.footer {
  color: #333;
  background-color: #ececec;
  text-align: center;
}